{# subhome.html.twig #}

<h2>Subhome</h2>
messageFromSubHome: {{ messageFromSubHome }}<br>
messageFromHome: {{ messageFromHomePassedToSubHome }}<br>
complexMessageFromHome:
{{ complexMessageFromHomePassedToSubHome[0] }}
{{ complexMessageFromHomePassedToSubHome[1] }}
{{ complexMessageFromHomePassedToSubHome[2] }}
<br>
