{# article.html.twig #}

ID: {{ article.id }}<br>
Date: {{ article.date }}<br>
Title: {{ article.title }}<br>
Body: {{ article.body }}<br>

{% if references %}
	<h3>References</h3>
	<ul>
	{% for reference in references %}
		<li><a href="{{ reference.link }}">{{ reference.title }}</a></li>
	{% endfor %}
	</ul>
{% endif %}


{% if comments %}
	<h3>Comments</h3>
	<ul>
	{% for comment in comments %}
		<li>
			ID: {{ comment.id }}<br>
			Date: {{ comment.date }}<br>
			Author: {{ comment.author }}<br>
			Body: {{ comment.body }}<br>
		</li>
	{% endfor %}
	</ul>
{% endif %}
